<main>
    <div class="wrapper">
        <div style="display: inline-block; margin: 5px">
            <div class="playground"></div>
        </div>
        <div class="win-table" style="display: inline-block; margin: 5px; vertical-align:top">
            <div class="my-table">
                <h2 style="text-align: center; margin-top: 5px">Counter</h2>
                <div style="font-size: 17px; font-weight: bold;">
                    <div style="color: blue;">
                        Paper:
                        <div class="paperCount" style="float: right">0</div>
                    </div>
                    <div style="color: red;">
                        Rock:
                        <div class="rockCount" style="float: right">0</div>
                    </div>
                    <div style="color: green;">
                        Scissor:
                        <div class="scissorCount" style="float: right">0</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>